.aboutText{
    text-align: left;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    color: #cfcfcf;
}

.principalAbout{
    top: 0;
    left: 0;
    height: 100%;
    padding: 30px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.icon-image{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600&display=swap');
.titleAbout {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
.descriptionAbout {
    color: #cfcfcf;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 18px;
}

.introduction{
    font-family: 'Roboto Mono', sans-serif;
    font-size: 30px;
}

.titleInfo{
    color: orange;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 26px;
}

.timeline-item {
    border: 1px thin black;
}

.timeline-item > .titleAbout {
    padding: 0.5em 0;
    padding: 10px;
    font-style: italic;
}

.timeline {
    position: relative;
    padding-left: 80px;
}

.timeline::before {
    content: '';
    background: grey;
    display: inline-block;
    position: absolute;
    left: 34px;
    width: 1px;
    height: 100%;
    z-index: -1;
}

.timeline-item::before {
    content: '';
    background: orange;
    border: 1px solid rgb(255, 167, 38);
    border-radius: 10px;
    display: inline-block;
    position: absolute;
    margin-top: 18px;
    left: 26px;
    width: 15px;
    height: 15px;
    z-index: -1;
}

.skillsDiv{
    padding: 40px;
    margin-top: 60px;
}

.titleInfo{
    color: orange;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 30px;
}

.column{
    color: #cfcfcf;
    font-size: 28px;
}

.column li{
    list-style: none;
}

.column li > i{
    margin-right: 6px;
}

@media (max-width: 769px){
    .introduction{
        font-family: 'Roboto Mono', sans-serif;
        font-size: 18px;
    }

    .column{
        color: #cfcfcf;
        font-size: 20px;
    }

    .principalAbout{
        margin-top: 60px;
        margin-left: 0px;
        margin-right: 0px;
    }
}