.blog{
    text-align: center;
    padding: 40px;
}

.blogTitle{
    color: orange;
    font-size: 28px;
    margin-top: 10px;
}

.linkBlog{
    font-size: 18px;
    color: orange;
}

.linkBlog:hover{
    color:#ededed;
    text-decoration: none;
}

.blogDescription{
    color: white;
    font-size: 26px;
}

.blogReadTime{
    color: white;
}

@media (max-width: 769px){
    .linkBlog{
        font-size: 20px;
    }

    .blogDescription{
        color: white;
        font-size: 18px;
    }
    
}