.blog{
    width: 500px;
}

.blog-info{
    background-color: #171f2b;
    padding: 4px 10px 4px 10px;
    border-bottom: 1px  solid #37345c;
    border-left: 1px  solid #37345c;
    border-right: 1px  solid #37345c;
}

.blogTitle{
    color: orange;
    font-size: 18px;
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
}

.linkBlog{
    font-size: 18px;
    color: orange;
}

.linkBlog:hover{
    color:#ededed;
    text-decoration: none;
}

.blogDescription{
    color: #ededed;
    font-family: 'Hind Siliguri', sans-serif;
}

.blogReadTime{
    color: #e8e8e8;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 14px;
    margin: 4px 0px 4px 0px;
}

@media (max-width: 769px){
    .linkBlog{
        font-size: 20px;
    }

    .blogDescription{
        color: white;
        font-size: 18px;
    }
    
}