
.principalProjects{
  margin-left: 4%;
  margin-right: 4%;
}

.project{
  margin: 10px 0px 10px 0px;
  width: 500px;
}

.projectName{
  margin: 0px;
  color: orange;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
}

.projectDescription {
  color: #ededed;
  font-family: 'Hind Siliguri', sans-serif;
}

.link{
  color: orange;
  font-family: 'Hind Siliguri', sans-serif;
  margin: 6px;
}

.link:hover{
  text-decoration: none;
  color: white;
}

.links{
  text-align: right;
}

.tecnologies{
  color: #e8e8e8;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 14px;
  margin: 4px 0px 4px 0px;
}

.project-info{
  background-color: #171f2b;
  padding: 4px 10px 4px 10px;
  border-bottom: 1px  solid #37345c;
  border-left: 1px  solid #37345c;
  border-right: 1px  solid #37345c;
}

@media (max-width: 769px){
  .principalProjects{
    margin-top: 80px;
  }
  
  .projectName{
    font-size: 18px;
  }

  .projectDescription {
    font-size: 16px;
  }

  .link ,.tecnologies{
    font-size: 14px;
  }
}
