@import '../../utilities/variables';

.experience-info{
    margin-bottom: 40px;
    font-size: 22px;
    font-family: $principal-font;
    color: #636363;
}

.experience{
    font-size: 18px;
    font-family: $principal-font;
    color: $principal-color;
    list-style: none; /* Remove default bullets */
}

.experience li::before{
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: black; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    font-size: 18px;
    width: 20px; /* Also needed for space (tweak if needed) */
    margin-left: -1em;
}

.experience-title{
    font-family: $principal-font;
    font-size: 18px;
    color: black;
    margin: 0px;
}

.experience-date{
    font-size: 16px;
    color: black;
    margin: 0px;
}